.contract-details {
  height: 100vh;
  overflow-x: hidden;
  .contract-title {
    text-align: center;
    color: blueviolet;
    padding: 30px 0px;
  }

  .contract-form {
    flex-direction: column;
    width: 1600px;
    text-align: center;
    border: 2px solid #6a50ca;
    padding-top: 15px;

    .contract-button {
      margin-bottom: 30px;
      display: block;
    }

    .paymentRow {
      display: flex;
      margin-bottom: 20px;
      .paymentRow_img {
        height: 50px;
        width: 200px;
        margin-right: 50px;
      }
    }

    .contract-id {
      display: flex;
      margin-bottom: 20px;
      padding-bottom: 20px;
      width: 100%;
      border-bottom: 2px groove #f0efef;
      flex-direction: row;

      .chip_pending {
        background-color: #eb6b40;
        color: black;
        width: 10%;
      }
      h2 {
        width: 90%;
        float: left;
        text-align: left;
      }
      h3 {
        width: 25%;
        float: left;
        text-align: left;
      }
      p {
        top: 50%;
      }
    }

    .contract-content-require {
      display: flex;
      margin-bottom: 15px;
      width: 100%;
      h3 {
        width: 30%;
        float: left;
        text-align: left;
      }

      #require {
        border: 1px solid #e9e4ee;
        top: 50%;
        width: 100%;
        padding: 15px;
      }
    }

    .contract-content-time {
      display: flex;
      margin-bottom: 15px;
      width: 100%;
      h3 {
        width: 25%;
        float: left;
        text-align: left;
      }

      p {
        top: 50%;
      }
    }

    .contract-expect-date {
      border-bottom: 2px groove #f0efef;
      display: flex;
      margin-bottom: 15px;
      padding-bottom: 20px;
      width: 100%;

      h3 {
        width: 25%;
        float: left;
        text-align: left;
      }

      p {
        top: 50%;
      }
    }

    .contract-quantity {
      display: flex;
      padding-bottom: 20px;
      width: 100%;
      float: right;

      h4 {
        width: 30%;
        margin-left: 60%;
        float: left;
        text-align: left;
      }
      p {
        top: 50%;
      }
    }

    .contract-cancel-fee {
      display: flex;
      margin-bottom: 20px;
      padding-bottom: 20px;
      width: 100%;
      float: right;
      border-bottom: 2px groove #f0efef;

      h4 {
        width: 30%;
        margin-left: 60%;
        float: left;
        text-align: left;
      }
      p {
        top: 50%;
      }
    }
  }
  .sections_profile {
    width: 100%;
    height: calc(100vh - 70px);
    background-color: white;
    position: relative;
    top: 70px;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    scrollbar-width: none; //for firefox
    &::-webkit-scrollbar {
      display: none;
    }

    > * {
      width: 100vw;
      height: calc(100vh - 70px);
      scroll-snap-align: start;
    }
  }
}
