.sellerHome {
  height: 100vh;
  overflow-x: hidden;
  .sellerHome_form {
    display: flex;
    flex-direction: row;
    .sellerHome_left {
      margin-top: 10px;
      margin-left: 50px;
      width: 250px;
      .sellerHome_leftCard {
        flex: 1;
        background-color: bisque;
        padding: 10px;
        border-radius: 10px;
        position: sticky;
        top: 10px;
        height: max-content;
        .sellerHome_leftCard_lsTitle {
          // font-size: 50px;
          color: #555;
          margin-bottom: 10px;
        }

        .sellerHome_leftCard_lsItem {
          display: flex;
          flex-direction: column;
          gap: 5px;
          margin-bottom: 10px;
          text-align: center;
        }

        .sellerHome_leftCard_lsItem > label {
          // font-size: 12px;
        }

        .sellerHome_leftCard_lsItem > input {
          height: 30px;
          border: none;
          padding: 5px;
        }
        .sellerHome_leftCard_lsItem > span {
          height: 30px;
          padding: 5px;
          background-color: white;
          display: flex;
          align-items: center;
          cursor: pointer;
        }

        .sellerHome_leftCard_lsOptions {
          padding: 10px;
        }

        .sellerHome_leftCard_lsOptionItem {
          display: flex;
          justify-content: space-between;
          margin-bottom: 10px;
          color: #555;
          // font-size: 12px;
        }

        .sellerHome_leftCard_lsOptionInput {
          width: 50px;
        }
      }
    }
    .sellerHome_right {
      .service {
        width: 100%;
        height: auto;
      }
      .list {
        display: flex;
        background-color: white;
        justify-content: center;
        list-style: none;
      }
      .sellerHome_right_btn {
        margin-left: 25px;
        margin-top: 15px;
      }
    }
  }

  .sections {
    width: 100%;
    height: calc(100vh - 70px);
    background-color: lightsalmon;
    position: relative;
    top: 70px;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    scrollbar-width: none; //for firefox
    &::-webkit-scrollbar {
      display: none;
    }

    > * {
      width: 100vw;
      height: calc(100vh - 70px);
      scroll-snap-align: start;
    }
  }
}
