@import "../../../global.scss";

.topseller {
  background-color: rgb(55, 30, 35);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  h1 {
    margin-top: -500px;
    font-size: 50px;
    color: whitesmoke;
  }
  .arrow {
    height: 50px;
    position: absolute;
    cursor: pointer;

    @include mobile {
      display: none;
    }

    &.left {
      left: 100px;
      transform: rotateY(180deg);
    }

    &.right {
      right: 100px;
    }
  }

  .topseller_slider {
    height: 350px;
    display: flex;
    position: absolute;
    left: 0;
    transition: all 1s ease-out;

    @include mobile {
      height: 100vh;
      flex-direction: column;
      justify-content: center;
    }

    .topseller_container {
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;

      .topseller_item {
        width: 700px;
        height: 100%;
        background-color: white;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;

        @include mobile {
          width: 80%;
          height: 150px;
          margin: 15px 0;
        }

        .topseller_left {
          flex: 4;
          height: 80%;
          display: flex;
          align-items: center;
          justify-content: center;

          .topseller_leftContainer {
            width: 90%;
            height: 70%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .topseller_imgContainer {
              width: 150px;
              height: 150px;
              border-radius: 10%;
              background-color: rgb(245, 179, 155);
              display: flex;
              align-items: center;
              justify-content: center;

              @include mobile {
                width: 75px;
                height: 75px;
              }

              img {
                width: 115px;
                height: 115px;
                @include mobile {
                  width: 55px;
                  height: 55px;
                }
              }
            }
            h2 {
              font-size: 20px;

              @include mobile {
                font-size: 13px;
              }
            }
            p {
              font-size: 13px;
              @include mobile {
                display: none;
              }
            }
            span {
              font-size: 12px;
              font-weight: 600;
              text-decoration: underline;
              cursor: pointer;
            }
          }
        }
        .topseller_right {
          flex: 8;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          overflow: hidden;

          img {
            width: 400px;
            transform: rotate(-10deg);
          }
        }
      }
    }
  }
}
