.buyer_profile {
  height: 100vh;
  overflow-x: hidden;
  .buyer_profile_title {
    text-align: center;
    color: blueviolet;
  }
  .profession_form {
    flex-direction: column;
    width: 1600px;
    text-align: center;
    border: 2px solid #6a50ca;
    padding-top: 15px;
    .profession_itemStage {
      border: 2px solid rgb(238, 225, 225);
      padding: 20px;
      margin-bottom: 20px;
      // width: 80%;
      // text-align: center;
      // margin: 0 auto;
    }
    .profession_row {
      margin-bottom: 15px;
      .input_radio {
        display: flex;
        flex-direction: row;
        justify-content: center;
      }
      .tags-input-container {
        border: 2px solid rgb(238, 225, 225);
        padding: 0.5em;
        border-radius: 3px;
        // width: min(80vw, 600px);
        margin-top: 1em;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 0.5em;
        .tags-input {
          flex-grow: 1;
          padding: 0.5em 0;
          border: none;
          outline: none;
        }
        .tag-item {
          background-color: rgb(218, 216, 216);
          display: inline-block;
          padding: 0.5em 0.75em;
          border-radius: 20px;
        }
        .tag-item .close {
          height: 20px;
          width: 20px;
          background-color: rgb(48, 48, 48);
          color: #fff;
          border-radius: 50%;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          margin-left: 0.5em;
          font-size: 18px;
          cursor: pointer;
        }
      }
      .profession_row_item {
        // border-bottom: 2px solid rgb(233, 226, 226);
        padding-bottom: 5px;
        margin-bottom: 15px;
      }
    }
  }
  .sections_profile {
    width: 100%;
    height: calc(100vh - 70px);
    background-color: white;
    position: relative;
    top: 70px;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    scrollbar-width: none; //for firefox
    &::-webkit-scrollbar {
      display: none;
    }

    > * {
      width: 100vw;
      height: calc(100vh - 70px);
      scroll-snap-align: start;
    }
  }
}
